.element__like-btn {
  border: none;
  background-image: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 19px;
  align-self: center;
}
